{% extends "base.html" %}
{% block title %} Districts {% endblock %}

{% block content %}
<h3>All Districts</h3>

<table class="table table-striped" style="width:0">
{% for district in districts %}
	<tr>
	    <td><a href='{{url_for('showDistrict', district_id=district.id)}}'>{{district.name}}</a></td>
	    <td style="padding-left:50px;">
	    	<a href='{{url_for('editDistrict', district_id=district.id)}}' class="btn btn-primary btn-xs">Edit</a>
	    	&nbsp;&nbsp;
	    	<a href='{{url_for('deleteDistrict', district_id=district.id)}}' class="btn btn-primary btn-xs">Delete</a>
	    </td>
	</tr>
{% endfor %}
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<a href='{{url_for('newDistrict')}}' class="btn btn-primary">Add new district</a> 
{% endblock %}