{% extends "base.html" %}
{% block title %} Districts {% endblock %}

{% block content %}
<h3>Edit District</h3>
<form action="{{ url_for('editDistrict', district_id=district.id) }}" method = 'post'>

	<p>Name:</p>
	<input type='text' size='50' name='name' value='{{district.name}}'>
	<p>Superintendent:</p>
	<input type='text' size='50' name='superintendent' value='{{district.superintendent}}'>
	<p>Address:</p>
	<input type='text' size='50' name='address' value='{{district.address}}'>
	<p>City:</p>
	<input type='text' size='50' name='city' value='{{district.city}}'>
	<p>State:</p>
	<input type='text' size='50' name='state' value='{{district.state}}'>
	<p>Zip:</p>
	<input type='text' size='50' name='zip' value='{{district.zip}}'>
	<p>Phone:</p>
	<input type='text' size='50' name='phone' value='{{district.phone}}'>
	<input type='submit' value='Save'>

</form>
<p><a href='{{url_for('showDistricts')}}'>Cancel</a></p>

{% endblock %}