{% extends "base.html" %}
{% block title %} Districts {% endblock %}

{% block content %}
<h3>New District</h3>

<form action="{{ url_for('newDistrict') }}" method = 'post'>

<table class="table" style="width: 0%;">
<tr>
	<td style="vertical-align:middle">Name:</td>
	<td><input class="form-control" data-toggle="popover" data-trigger="hover" data-placement="right" data-html="true" data-content="{{helpTopics[1]}}" type='text' size='50' name='name'}}'></td>
    <td style="vertical-align:middle"><a onclick="setHelpText('{{helpTopics[1]}}')" href='#' data-toggle="modal" data-html="true" data-target="#help" class="btn btn-primary btn-xs">?</a></td>
</tr>
<tr>
	<td style="vertical-align:middle">Superintendent:</td>
	<td><input class="form-control" data-toggle="popover" data-trigger="hover" data-placement="right" data-html="true" data-content="{{helpTopics[2]}}" type='text' size='50' name='superintendent''></td>
    <td style="vertical-align:middle"><a onclick="setHelpText('{{helpTopics[2]}}')" href='#' data-toggle="modal" data-html="true" data-target="#help" class="btn btn-primary btn-xs">?</a></td>
</tr>
<tr>
	<td style="vertical-align:middle">Address:</td>
	<td><input class="form-control" data-toggle="popover" data-trigger="hover" data-placement="right" data-html="true" data-content="{{helpTopics[3]}}" type='text' size='50' name='address'></td>
    <td style="vertical-align:middle"><a onclick="setHelpText('{{helpTopics[3]}}')" href='#' data-toggle="modal" data-html="true" data-target="#help" class="btn btn-primary btn-xs">?</a></td>
</tr>
<tr>
	<td style="vertical-align:middle">City:</td>
	<td><input class="form-control" data-toggle="popover" data-trigger="hover" data-placement="right" data-html="true" data-content="{{helpTopics[4]}}" type='text' size='50' name='city'></td>
    <td style="vertical-align:middle"><a onclick="setHelpText('{{helpTopics[4]}}')" href='#' data-toggle="modal" data-html="true" data-target="#help" class="btn btn-primary btn-xs">?</a></td>
</tr>
<tr>
	<td style="vertical-align:middle">State:</td>
	<td><input class="form-control" data-toggle="popover" data-trigger="hover" data-placement="right" data-html="true" data-content="{{helpTopics[5]}}" type='text' size='50' name='state'></td>
    <td style="vertical-align:middle"><a onclick="setHelpText('{{helpTopics[5]}}')" href='#' data-toggle="modal" data-html="true" data-target="#help" class="btn btn-primary btn-xs">?</a></td>
</tr>
<tr>
 	<td style="vertical-align:middle">Zip:</td>
	<td><input class="form-control" data-toggle="popover" data-trigger="hover" data-placement="right" data-html="true" data-content="{{helpTopics[6]}}" type='text' size='50' name='zip'></td>
    <td style="vertical-align:middle"><a onclick="setHelpText('{{helpTopics[6]}}')" href='#' data-toggle="modal" data-html="true" data-target="#help" class="btn btn-primary btn-xs">?</a></td>
</tr>
<tr>
	<td style="vertical-align:middle">Phone:</td>
	<td><input class="form-control" data-toggle="popover" data-trigger="hover" data-placement="right" data-html="true" data-content="{{helpTopics[7]}}" type='text' size='50' name='phone'></td>
    <td style="vertical-align:middle"><a onclick="setHelpText('{{helpTopics[7]}}')" href='#' data-toggle="modal" data-html="true" data-target="#help" class="btn btn-primary btn-xs">?</a></td>
</tr>
<tr style="padding-top: 40px;">
	<td>&nbsp;</td>
	<td align="right">
		<a href='{{url_for('showDistricts')}}' class="btn btn-primary">Cancel</a>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<input type='submit' value='Save' class="btn btn-primary">
	</td>
	<td>&nbsp;</td>
</tr>
</table>
</form>

{% endblock %}