{% extends "base.html" %}
{% block title %} Districts {% endblock %}

{% block content %}
<h3>{{school.name}}</h3>
<p>Principal: {{school.principal}}<br>
Address: {{school.address}}, {{school.city}}, {{school.state}} {{school.zip}}<br>
Phone: {{school.phone}}</p>

<p><a href='{{url_for('showAllStudents', district_id=district_id, school_id=school.id)}}'>View students</a></p>

<p><a href='{{url_for('showAllTeachers', district_id=district_id, school_id=school.id)}}'>View teachers</a></p>

<p><a href='{{url_for('showAllSections', district_id=district_id, school_id=school.id)}}'>View sections</a></p>

{% endblock %}