{% extends "base.html" %}
{% block title %} Districts {% endblock %}

{% block content %}
<h3>{{section.name}}</h3>
<h4>Teacher</h4>
<p><a href='{{url_for('showTeacher', district_id=district_id, school_id=school_id, teacher_id=teacher.id)}}'>{{teacher.first_name}} {{teacher.last_name}}</a></p>

<h4 style="margin-top: 20px;">Students</h4>
<div class="container-fluid">
    <!--Row with two equal columns-->
	{% for student in students %}
    <div class="row" style="border-top: 1px solid #d0d0d0; padding-top: 5px; padding-bottom: 5px;">
        <div class="col-sm-6"><a href='{{url_for('showStudent', district_id=district_id, school_id=school_id, student_id=student.id)}}'>{{student.first_name}} {{student.last_name}}</a></div>
        <div class="col-sm-6">Grade {{student.grade}}</div>
    </div>
    {% endfor %}
</div>
{% endblock %}