{% extends "base.html" %}
{% block title %} Districts {% endblock %}

{% block content %}
<h3>{{student.first_name}} {{student.last_name}}</h3>
<p>Address: {{student.address}}, {{student.city}}, {{student.state}} {{student.zip}}<br>
Phone: {{student.phone}}</p>

<h4>Sections</h4>
<div class="container-fluid">
	{% for section in sections %}
	    <div class="row" style="border-top: 1px solid #d0d0d0; padding-top: 5px; padding-bottom: 5px;">
	        <div class="col-sm-6"><a href='{{url_for('showSection', district_id=district_id, school_id=school_id, section_id=section.id)}}'>{{section.name}}</a></div>
	        <div class="col-sm-6">{{section.teacher.last_name}}, {{section.teacher.first_name}}</div>
	    </div>
	{% endfor %}
</div>

{% endblock %}