{% extends "base.html" %}
{% block title %} Districts {% endblock %}

{% block content %}

<h3>{{teacher.first_name}} {{teacher.last_name}}</h3>
<table>
	<tr>
		<td style="padding-right: 10px; "><img src="/static/person.png" height="40px"></td>
		<td>Address: {{teacher.address}}, {{teacher.city}}, {{teacher.state}} {{teacher.zip}}<br>
Phone: {{teacher.phone}}</td>
	</tr>
</table>
<h4>Classes</h4>

<div class="container-fluid">
	{% for section in sections %}
	    <div class="row" style="border-top: 1px solid #d0d0d0; padding-top: 5px; padding-bottom: 5px;">
	        <div class="col-sm-6"><a href='{{url_for('showSection', district_id=district_id, school_id=school_id, section_id=section.id)}}'>{{section.name}}</a></div>
	        <div class="col-sm-6">{{section.students|length}} students</div>
	    </div>
	{% endfor %}
</div>

{% endblock %}